.container {
  border-radius: 30px;

  background: linear-gradient(105deg, #412fd0 -7.37%, #0479f2 68.04%);

  min-height: clamp(353px, calc(353px + 197 * ((100vw - 320px) / 1600)), 550px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 10px;
}

.content {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 17px;
}

.text {
  font-size: clamp(12px, calc(12px + 2 * ((100vw - 320px) / 1600)), 14px);
  text-align: center;
  color: #fff;
}

.link {
  transition: color 0.2s;

  text-decoration: underline;

  &:hover {
    color: var(--secondary);
  }
}

@media screen and (max-width: 1200px) {
}
