.containerMain {
  scroll-margin-top: clamp(
    25px,
    calc(25px + 75 * ((100vw - 320px) / 1600)),
    100px
  );
}

.items {
  width: 100%;
  height: 100%;
  max-height: 754px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    'a s d'
    'a s d'
    'a s g'
    'a s g'
    'a f g'
    'a f g';
}

@media screen and (max-width: 1200px) {
  .items {
    grid-template-areas:
      'a s d'
      'a s d'
      'f f g';
  }
}

@media screen and (max-width: 991px) {
  .items {
    display: flex;
    flex-direction: column;

    max-height: 100%;
  }
}
