.container {
  scroll-margin-top: clamp(
    25px,
    calc(25px + 75 * ((100vw - 320px) / 1600)),
    100px
  );
}

.content {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

@media screen and (max-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
