.container {
  position: relative;

  overflow: hidden;

  border-radius: 0px 0px
    clamp(25px, calc(25px + 25 * ((100vw - 320px) / 1600)), 50px)
    clamp(25px, calc(25px + 25 * ((100vw - 320px) / 1600)), 50px);

  background: linear-gradient(105deg, #412fd0 -7.37%, #0479f2 68.04%);

  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .container {
    min-height: 110vh;
  }
}
